*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(-45deg, #ff470f, #f47f51, #fbbc35, #ffffff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}   

.contact-header{
    text-align: center;
    color: white;
}

.contact-header h1{
    font-size: 46px;
    margin-bottom: 20px;
}

.contact-header p{
    font-size: 20px;
    font-weight: 500;
}

.contact-container{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2{
    font-weight: 600;
    color:rgb(255, 255, 255);
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: rgb(216, 119, 40);
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color:rgb(216, 119, 40);
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid rgb(216, 119, 40);
}

.contact-inputs::placeholder{
    color: rgb(216, 119, 40);
    
}

.contact-left button{
   display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient( #db7622, #aa9903);
    cursor: pointer;
}

.contact-left button img{
    height: 15px;
}

.contact-right img{
    width: 500px;
}

@media (max-width:800px){
    .contact-inputs{
        width: 80vw;
    }

    .contact-right{
        display: none;
    }
}

.contact-buttons{
    display: flex;
    gap: 130px;
}
.contact-buttons button:hover{
    background: linear-gradient( #aa9903, #db7622); 
    transform: scale(1.05);
}
